name: headache-app

services:
    postgres:
        image: postgres:18
        container_name: postgres-db
        environment:
            POSTGRES_USER: local-user
            POSTGRES_PASSWORD: local-password
            POSTGRES_DB: headache
        ports:
            - "127.0.0.1:5442:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data: